<div class="max-w-7xl mx-auto flex flex-col items-center md:flex-row w-full pt-12">
  <div class="w-[90%] px-12 pt-6 md:pt-0">
    <%= image_tag "clemence.jpg", class: "object-contain rounded-lg overflow-hidden" %>
    <p class="text-gray-400 pt-3">Photo Le Cheveu Blanc par <a href="https://www.instagram.com/amelinevil/">Ameline Vildaer</a> Sept 2023</p>
  </div>
  <div class="w-full md:px-0 px-12 pt-6 md:pt-0 text-justify">
    <p class="leading-9 pb-4">
      Je suis Clémence, <strong>illustratrice</strong> indépendante officiant à <strong>Nantes</strong> sous le pseudonyme Le Cheveu Blanc.
    </p>
    <p class="leading-9 pb-4">
      Depuis 2019 je poste régulièrement sur Instagram des <strong>illustrations</strong> réalisées d’abord à l’encre, puis numériquement. Au départ comme une expression de mes <strong>prises de conscience féministes</strong>; puis petit à petit une <strong>dimension militante</strong> s’est imposée à ce projet.
    </p>
    <p class="leading-9 pb-4">
      Après des études de design et de graphisme et une certaine quête de sens au travers de mon travail, ce projet d’illustration dans sa forme actuelle s’est construit avec l’apprentissage du <strong>dessin numérique</strong> en 2020. Par la suite j’ai eu la chance de collaborer avec divers médias engagés comme le Club Sexu, Yes We Ken ou Madmoizelle, de réaliser la communication du festival Les Femmes s’en Mêlent en 2022, ou encore de faire l’habillage du magazine Kostar de l’automne 2023.
    </p>
    <p class="leading-9 pb-4">
      Je travaille autant pour l’<strong>édition</strong>, <strong>la presse</strong> ou <strong>le packaging</strong>, que pour des contenus numériques.
    </p>
    <p class="leading-9 pb-4">
      Si vous souhaitez travailler avec moi n’hésitez pas à me contacter par <a href="mailto:hello@lecheveublanc.fr">e-mail</a>
    </p>
    <p class="leading-9 pb-10">
      Vous pouvez aussi suivre l’avancé de mes projets en cours sur mon compte <a href="https://www.instagram.com/le_cheveu_blanc/">Instragram</a>
    </p>
    <%# <p class="leading-10">
      If you want to work with me, you can write an e-mail at this address: <a href="mailto:lecheveublanc@gmail.com">lecheveublanc@gmail.com</a>
      You can also follow my work on <a href="https://www.instagram.com/le_cheveu_blanc/">Instragram</a>
    </p> %>
  </div>
</div>
<div class="w-full flex justify-center">
  <a href="mailto:hello@lecheveublanc.fr" class="mt-6 px-3 py-2 border rounded-lg hover:bg-blue-200 cursor-pointer">Me contacter</a>
</div>
