<div class="product-page__description">
  <h2 class="product-description__title mb-3 text-3xl font-bold">
    <%= t('spree.description') %>
  </h2>

  <p class="" itemprop="description">
    <%= product_description(product) rescue t('spree.product_has_no_description') %>
  </p>
</div>
